
h1 {
  font-family: Trebuchet MS;
  color: white;
  font-size: 100px;
  margin-bottom: 50px;
  margin-left: 20px;
}
h2 {
  font-family: Trebuchet MS;
  color:  #6E7376;

}
div {
  margin-left: 250px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: block;
  height: auto;
  background-color: #EEB6B7;
  border-radius: 12px;
}
p {
  font-family: Trebuchet MS;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.address {
  margin-left: 2px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
span {
  font-style: italic;
}
img {
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 40%;
  width: auto%;
}
.sidenav {
margin-top: 8px;
margin-bottom: 8px;
margin-left: 20px;
height: 700px;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #6E7376;
overflow-x: hidden;
}
ul {
  list-style-type: none;
  padding: 20px;
  margin: 10px
}
a {
  color: white;
  font-family: Trebuchet MS;
  font-size: 30px;
  text-decoration: none;
}
a:hover {
  background-color: #4ABDAC;
}
